html,
body {
	height: 100%;
	margin: 0;
}

.app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

#root {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

.navigation {
	
	background-color: rgb(198, 226, 43);
}
.navbar {
	padding: 10px 200px 10px 200px;
}

.pointer {
	cursor: pointer;
}

.container {
	padding: 10px 150px;
}

.form {
	border: 1px solid rgb(219, 110, 110);
	padding: 10px;
	border-radius: 5px;
}

label {
	font-size: 13px;
}

.text-error {
	font-size: 13px;
	color: red;
}
